
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>CHURN PREDICTION PROJECT(1) </title>
        <link rel="stylesheet" href="static/css/style1.css ">
    </head>

       <div style="text-align:left;color:black; position: absolute;top:6%;width:100%;;font-size: 30px;">
       <h2> &nbsp;&nbsp;
           CHURN PREDICTION PROJECT
        </h2>
       </div>

    <body>

      <div class="login-box">

        <div class="textbox">
            <form action="" method="post">
                <input type="text" list="gender"placeholder="Gender" name="Gender">
                <datalist id="gender">
                  <option value="Male">
                  <option value="Female ">
                </datalist>
            </form>
        </div>

        <div class="textbox">
            <form action="" method="post">
                <input type="text" list="senior" placeholder="Senior-Citizen" name="Senior-Citizen">
                <datalist id="senior">
                  <option value="Yes">
                  <option value="No">
                </datalist>
            </form>
        </div>

        <div class="textbox">
            <form action="" method="post">
                <input type="text" list="partner"placeholder="Partners" name="partner">
                <datalist id="partner">
                  <option value="Yes">
                  <option value="No">
                </datalist>
            </form>
        </div>

        <div class="textbox">
            <form action="" method="post">
                <input type="text" list="Depandant"placeholder="Depandants" name="Depandants">
                <datalist id="Depandant">
                  <option value="Yes">
                  <option value="No">
                </datalist>
            </form>
        </div>

        <div class="textbox">
            <form action="" method="post">
                <input type="text" list="phone"placeholder="Phone-Service" name="Phone-Service">
                <datalist id="phone">
                  <option value="Yes">
                  <option value="No">
                </datalist>
            </form>
        </div>

        <div class="textbox">
            <form action="" method="post">
                <input type="text" list="muitiple"placeholder="Muitiplelines" name="Muitiplelines">
                <datalist id="muitiple">
                  <option value="Yes">
                  <option value="No">
                  <option value="No phone service">
                </datalist>
            </form>
        </div>

        <div class="textbox">
            <form action="" method="post">
                <input type="text" list="intern" placeholder="Intern of service" name="Intern_of_service">
                <datalist id="intern">
                  <option value="Yes">
                  <option value="No">
                </datalist>
            </form>
        </div>



         <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="url_for('index2')"><input class="btn" type="button" value="Next"></a>

       </div>
      </div>

    </div>

   <div class="bottom-left">
    <img style="vertical-align:middle" src="static/icons/facebook.svg" alt="Smiley face" width="20" height="" ><i>Facebook</i>&nbsp;&nbsp;&nbsp;&nbsp;<img style="vertical-align:middle" src="static/icons/instagram.svg" alt="Smiley face" width="20" height=""><i>Instagram</i>&nbsp;&nbsp;&nbsp;&nbsp;<img style="vertical-align:middle" src="static/icons/twitter.svg" alt="Smiley face" width="20" height=""><i>Twitter</i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     <br>
    </div>

    </div>
    </body>

<html>
