
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>CHURN PREDICTION PROJECT(3) </title>
        <link rel="stylesheet" href="style1.css ">
    </head>
    
       <div style="text-align:left;color:black; position: absolute;top:6%;width:100%;;font-size: 30px;">  
       <h2> &nbsp;&nbsp;
           CHURN PREDICTION PROJECT  
        </h2>
       </div>
       
    <body>
      
      <div class="login-box">
       
        <div class="textbox">
            <form action="action_form.php" method="get">
                <input type="text" list="Con"placeholder="Contract" name="Contract"> 
                <datalist id="Con">
                  <option value="Month-to-Month">
                  <option value="One Year">
                  <option value="Two Year"> 
                </datalist>
            </form>
        </div>

        <div class="textbox">
          <form action="action_form.php" method="get">
              <input type="text" list="Service"placeholder="InternetService" name="InternetService"> 
              <datalist id="Service">
                <option value="DSL">
                <option value="Fiber Optic">
                <option value="No">  
              </datalist>
          </form>
      </div>

      <div class="textbox">
        <form action="action_form.php" method="get">
            <input type="text" list="online "placeholder="Online security" name="Online security"> 
            <datalist id="online ">
              <option value="Yes">
              <option value="No">
            </datalist>
        </form>
    </div>

        <div class="textbox">
            <form action="action_form.php" method="get">
                <input type="text" list="Pay"placeholder="PaymentMethod" name="PaymentMethod"> 
                <datalist id="Pay">
                  <option value="Bank transfer">
                  <option value="Credit Card">
                  <option valve="Electronic ">  
                  <option value="Electronic Check">
                </datalist>
            </form>
        </div>

        <div class="textbox">
            <form action="action_form.php" method="get">
                <input type="number" list="tenure"placeholder="Tenure" name="Tenure"> 
            </form>
        </div>

        <div class="textbox">
          <form action="action_form.php" method="get">
              <input type="number" list="month"placeholder="Monthly Charges" name="Monthly Charges"> 
          </form>
      </div>

      <div class="textbox">
        <form action="action_form.php" method="get">
            <input type="number" list="total"placeholder="Total Charges" name="Total Charges"> 
        </form>
    </div>

      
    

         <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="index2.html"><input class="btn" type="button" name="Back" value="Back"></a>
        <a href=""><input class="btn" type="button" name="Submit" value="Submit"></a>
        
       </div>
      </div>
           
    </div>
       
   <div class="bottom-left">
    <img style="vertical-align:middle" src="icons/facebook.svg" alt="Smiley face" width="20" height="" ><i>Facebook</i>&nbsp;&nbsp;&nbsp;&nbsp;<img  style="vertical-align:middle" src="icons/instagram.svg" alt="Smiley face" width="20" height=""><i>Instagram</i>&nbsp;&nbsp;&nbsp;&nbsp;<img  style="vertical-align:middle" src="icons/twitter.svg" alt="Smiley face" width="20" height=""><i>Twitter</i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     <br>
    </div>

    </div>
    </body>
    
<html>