
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>CHURN PREDICTION PROJECT(2) </title>
        <link rel="stylesheet" href="style2.css ">
    </head>
    
       <div style="text-align:right;color:black; position: absolute;top:6%;width:100%;right:40px ;;font-size: 30px;">
       <h2> 
           CHURN PREDICTION PROJECT  
        </h2>
      </div>
       
    <body>
      
      <div class="login-box">
       
        <div class="textbox">
            <form action="action_form.php" method="get">
                <input type="text" list="backup"placeholder="Online-Backup" name="Online-Backup"> 
                <datalist id="backup">
                  <option value="Yes">
                  <option value="No">
                </datalist>
            </form>
        </div>

        <div class="textbox">
            <form action="action_form.php" method="get">
                <input type="text" list="Denic"placeholder="Denic Protection" name="Denic Protection"> 
                <datalist id="Denic">
                  <option value="Yes">
                  <option value="No">
                </datalist>
            </form>
        </div>

        <div class="textbox">
            <form action="action_form.php" method="get">
                <input type="text" list="Tech"placeholder="Tech Support" name="Tech Support"> 
                <datalist id="Tech">
                  <option value="Yes">
                  <option value="No">
                </datalist>
            </form>
        </div>

        <div class="textbox">
            <form action="action_form.php" method="get">
                <input type="text" list="TV"placeholder="Streaming Tv" name="Streaming Tv"> 
                <datalist id="TV">
                  <option value="Yes">
                  <option value="No">
                </datalist>
            </form>
        </div>

        <div class="textbox">
            <form action="action_form.php" method="get">
                <input type="text" list="Movie"placeholder="StreamingMovies" name="StreamingMovies"> 
                <datalist id="Movie">
                  <option value="Yes">
                  <option value="No">
                </datalist>
            </form>
        </div>

        <div class="textbox">
            <form action="action_form.php" method="get">
                <input type="text" list="Billing"placeholder="PaperlessBilling" name="PaperlessBilling"> 
                <datalist id="Billing">
                  <option value="Yes">
                  <option value="No">
                </datalist>
            </form>
        </div>
    
        <div class="textbox">
            <form action="action_form.php" method="get">
                <input type="text" list="churn"placeholder="churn" name="churn"> 
                <datalist id="churn">
                  <option value="Yes">
                  <option value="No">
                </datalist>
            </form>
        </div>

       

         <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="index.html"><input class="btn" type="button" name="back" value="Back"></a>
        <a href="index3.html"><input class="btn" type="button" name="Next" value="Next"></a>
       </div>
      </div>
           
    </div>
       
   <div class="bottom-right">
    <img style="vertical-align:middle" src="icons/facebook.svg" alt="Smiley face" width="20" height="" ><i>Facebook</i>&nbsp;&nbsp;&nbsp;&nbsp;<img  style="vertical-align:middle" src="icons/instagram.svg" alt="Smiley face" width="20" height=""><i>Instagram</i>&nbsp;&nbsp;&nbsp;&nbsp;<img  style="vertical-align:middle" src="icons/twitter.svg" alt="Smiley face" width="20" height=""><i>Twitter</i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     <br>
    </div>

    </div>
    </body>
    
<html>